* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100dvw;
    height: 100dvh;
    flex-direction: column;
}

#debug {
    display: block;
    position: absolute;
    left: 16px;
    top: 16px;
}

#game_area {
    width: 640px;
    height: 480px;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    overflow: hidden;
}

.jobj {
    display: block;
    position:absolute;
    z-index: 0;
}

#player {
    background-color: red;
}

#ground {
    background-color: rgb(85, 137, 167);
}

.debug {
    z-index: -1000;
}