* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100dvw;
    height: 100dvh;
}

#game_area {
    width: 640px;
    height: 480px;
    border-width: 1px;
    border-color: black;
    border-style: solid;
}

#player {
    display: block;
    position: relative;
    background-color: red;
}

