#player {
    background-image: url("/pages/assets/dog.webp");
}

.moving {
    background-image: url("/pages/assets/dog_walking.webp") !important;
}

.falling {
    background-image: url("/pages/assets/dog_falling.webp") !important;
}

.rising {
    background-image: url("/pages/assets/dog_rising.webp") !important;
}

#bone {
    background-image: url("/pages/assets/golden_bone.webp");
    animation: bob 2s step-end infinite;
}

#background {
    background-image: url("/pages/assets/w1_l1_background.webp");
}

#l1_s1_midground {
    background-image: url("/pages/assets/world1/w1_l1_s1_midground.webp");
}

#l1_s2_midground {
    background-image: url("/pages/assets/world1/w1_l1_s2_midground.webp");
}



#l1_s1_foreground {
    background-image: url("/pages/assets/world1/w1_l1_s1.webp");
}

#l1_s2_foreground {
    background-image: url("/pages/assets/world1/w1_l1_s2.webp");
}