
@font-face {
    font-family: press_start;
    src: url("/pages/assets/PressStart2P-vaV7.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'press_start';
}



body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    background-color: black;
    overflow: hidden;
}

#debug {
    display: block;
    position: absolute;
    left: 16px;
    top: 16px;
}

#world {
    width: 320px;
    height: 180px;
    transform-origin: center center;
    image-rendering: pixelated;
    overflow:hidden;
}

.obj {
    position: absolute;
    z-index: 0;
    left: 0;
    top: 0;
    will-change: transform;
    background-size: cover;
}

.debug {
    z-index: -1000;
}

@keyframes bob {
    0%, 100% { top: 0; }
    25%      { top: -1px; }
    50%      { top: -2px; }
    75%      { top: -1px; }
}

.bob {
    animation: bob 2s step-end infinite;
}